parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between DOMAttr and DOMAttr will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/AssessmentItem/Service/Parser/AbstractParser.php

		-
			message: '#^Parameter \#7 \$stylesheet of class Qti3\\AssessmentItem\\Model\\AssessmentItem constructor expects Qti3\\AssessmentItem\\Model\\Stylesheet\\Stylesheet\|null, Qti3\\Shared\\Model\\IXmlElement\|null given\.$#'
			identifier: argument.type
			count: 1
			path: src/AssessmentItem/Service/Parser/AssessmentItemParser.php

		-
			message: '#^Parameter \#8 \$modalFeedbacks of class Qti3\\AssessmentItem\\Model\\AssessmentItem constructor expects array\<int, Qti3\\AssessmentItem\\Model\\Feedback\\ModalFeedback\>, list\<Qti3\\Shared\\Model\\IXmlElement\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/AssessmentItem/Service/Parser/AssessmentItemParser.php

		-
			message: '#^Parameter \#6 \$stylesheets of class Qti3\\AssessmentItem\\Model\\Feedback\\ModalFeedback constructor expects array\<int, Qti3\\AssessmentItem\\Model\\Stylesheet\\Stylesheet\>, list\<Qti3\\Shared\\Model\\IXmlElement\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/AssessmentItem/Service/Parser/ModalFeedbackParser.php

		-
			message: '#^Instanceof between DOMElement and DOMElement will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/Package/Model/Manifest/Manifest.php

		-
			message: '#^Instanceof between DOMElement and DOMElement will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Package/Service/PackageEditor.php

		-
			message: '#^Using nullsafe property access "\?\-\>href" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Package/Service/QtiPackageBuilder.php

		-
			message: '#^Using nullsafe property access "\?\-\>identifier" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Package/Service/QtiPackageBuilder.php

		-
			message: '#^Parameter \#1 \$identifier of class Qti3\\AssessmentTest\\Model\\ItemRef\\AssessmentItemRef constructor expects Qti3\\AssessmentItem\\Model\\AssessmentItemId, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Package/Service/QtiPackageEnhancer.php

		-
			message: '#^Using nullsafe property access "\?\-\>resources" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: src/Package/Service/WebcontentProcessor.php
